@model E_Commerce.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Chi Tiết Sản Phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Quản Lý Sản Phẩm</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm: @Model.ProductName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Chi Tiết Sản Phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.ProductId</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Role Name:</td>
                        <td>	@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Giá:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Discount:</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Trạng thái:</td>
                        <td>@Model.Active</td>
                    </tr>

                    <tr>
                        <td class="font-weight-bold">BestSellers:</td>
                        <td>@Model.BestSellers</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Home Flage:</td>
                        <td>@Model.HomeFlag</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Chủ Đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Danh Mục:</td>
                        <td>@Model.Cat.CatName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Ngày Tạo:</td>
                        <td>@Model.DateCreated</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Ngày Chỉnh Sửa:</td>
                        <td>@Model.DateModifield</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">metaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Tag:</td>
                        <td>@Model.Tags</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Hình ảnh sản phẩm:</td>
                        <td>
                            <img src="~/images/products/@Model.Thumb" alt="@Model.Title" width="200" />
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Tag:</td>
                        <td>@Model.Tags</td>
                    </tr>
                    <tr>
                        <td>Xác Nhận Xóa</td>
                        <td>
                            <form asp-controller="AdminProducts" asp-route-id="@Model.ProductId" asp-action="Delete">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xác nhận Xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-info" asp-controller="AdminProducts" asp-action="Index">Back To List</a>
    </div>
</div>

