@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<E_Commerce.Models.Page>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách Trang" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Quản Lý Trang</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Trang | Trang: @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div>
            <div>
                <a class="btn btn-primary" asp-controller="AdminPages" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i>Thêm Pages</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Trang</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.PageId
                                </td>
                                <td>
                                    @item.PageName
                                </td>
                                <td>
                                    @if (item.Published == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Public</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Block</div>
                                        </div>
                                    }
                                </td>

                                <td class="text-right">
                                    <a class="btn btn-success btn-sm m-r-5" asp-area="Admin" asp-controller="AdminPages" asp-action="Details" asp-route-id="@item.PageId">View</a>
                                    <a class="btn btn-warning btn-sm m-r-5 text-black-50" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit" asp-route-id="@item.PageId"><i class="anticon anticon-edit"></i> Update</a>
                                    <a class="btn btn-danger btn-sm m-r-5 text-white" asp-area="Admin" asp-controller="AdminPages" asp-action="Delete" asp-route-id="@item.PageId"><i class="anticon anticon-delete"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-action="Index" asp-controller="AdminPages" asp-area="Admin" asp-route-CatID="@ViewBag.CurrentCateID" asp-route-query="@Model" />
                </ul>
            </div>
        </div>
    </div>
</div>