@model List<Order>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Đơn Hàng</th>
                    <th>Ngày Mua Hàng</th>
                    <th>Ngày Giao Hàng</th>
                    <th>Trạng Thái</th>
                    <th>Tổng</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">@item.OrderId</a></td>
                        <td>@item.OrderDate.Value.ToShortDateString()</td>
                        <td>@item.ShipDate.Value.ToShortDateString()</td>
                        <td>@item.TransactStatus.Description</td>
                        <td>@item.TotalMoney.Value.ToString("#,##0")đ</td>
                        <td>
                            <a class="btn btn-secondary btn-primary-hover detailsOrder" data-id="@item.OrderId"><span>Xem Đơn Hàng</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <div id="records_table">

        </div>
    </div>
}
else
{
    <p>Chưa Có Đơn Hàng!</p>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".detailsOrder").click(function () {
                var orderid = $(this).attr("data-id");
                $.ajax({
                    url: '/OrderDetails/Details',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        id: orderid,
                    },
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (error) {
                        alert("remove error" + error.responseText);
                    }
                });
            });
        });
    </script>
}